{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
{#    <h2>{% if title is defined %} {{ title }} {% endif %}</h2>#}
    <h2>{{ title|default('') }}</h2>
    <div class="row">
        <div class="d-inline-grid">
            <div class="col-12 col-lg-3">
                <button type="button" class="w-100 mb-2 btn btn-success btn-lg btn-block btn-open-modal"  data-toggle="modal" data-target="#modal-request">Новая заявка</button>
<!--                <button type="button" class="btn btn-warning btn-lg btn-block btn-open-modal"  data-toggle="modal" data-direction="1" data-target="#modalAutoDistribution">Авторазноска платежа&nbsp;&beta;</button>-->
                <button type="button" class="w-100 mb-2 btn btn-warning btn-lg btn-block btn-open-modal"  data-toggle="modal" data-request-id="" data-direction="1" data-target="#modalPrihodRashod">Новый приход</button>
                <button type="button" class="w-100 mb-2 btn btn-danger btn-lg btn-block btn-open-modal"  data-toggle="modal" data-request-id="" data-direction="0" data-target="#modalPrihodRashod">Новый расход</button>
<!--				<a href="https://calendar.google.com/calendar/u/0/r" target="_blank" type="button" class="btn btn-info btn-lg btn-block">Расписание</a>-->
            </div>
        </div>
    </div>

{%  endblock %}